container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height: 400px;
    width: 850px;
}

leftbar {
    display: grid;
    grid-template-rows: 1fr 70px;;
}

rightbar {
    display: grid;
    grid-template-rows: 30px 30px 1fr 70px;
}

top_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

display_project {
    background-color: grey;
    text-align: center;
}

.display_project {
    font-weight: bold;
    font-size: 1.6rem;


}

display_username {
    background-color: rgb(114, 94, 94);
    display: flex;
    justify-content: right;
}

.display_username {

}

display_username > span {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 15px;


}

.addTask, .newProject {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.newProject input {
    width: 180px;
    display: block;
}



.addTask input {
    width: 150px;
    display: block;
}

#task_submit, #project_submit {
    margin-top: 8px;
    width: 35px;
    height: 35px;
    border: 0px;
}

#task_submit:hover, #project_submit:hover {

    filter: invert(42%) sepia(41%) saturate(2116%) hue-rotate(162deg) brightness(100%) contrast(104%);
    cursor: pointer;
}




#add_button_icon {
    width: 30px;
}

completed_toggle_button {
    background-color: rgb(71, 141, 141);
}

tasks {
    background-color: bisque;
}

add_task, add_proj {
    background-color: #d2fffb;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


projects {
    background-color: aqua;
}



table, th, td {
    border: 1px solid;
  }

.add_button {
    height: 30px;
    margin-top: 15px;
    grid-column: 2/3;

}


.newProject > label {
    display: block;
    grid-column: 1/2;

    
}



