container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height: 400px;
    width: 850px;
}

leftbar {
    display: grid;
    grid-template-rows: 1fr 70px;;
}

rightbar {
    display: grid;
    grid-template-rows: 30px 30px 1fr 70px;
}

top_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

display_project {
    background-color: grey;
    text-align: center;
}

.display_project {
    font-weight: bold;
    font-size: 1.6rem;


}

display_username {
    background-color: rgb(114, 94, 94);
    display: flex;
    justify-content: right;
}

.display_username {

}

display_username > span {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 15px;


}



completed_toggle_button {
    background-color: rgb(71, 141, 141);
}

tasks {
    background-color: bisque;
}

add_project {
    background-color: rgb(131, 131, 131);
}


projects {
    background-color: aqua;
}

addProj {
    background-color: darkgray;
    display: grid;



}


table, th, td {
    border: 1px solid;
  }

.add_button {
    height: 30px;
    margin-top: 15px;
    grid-column: 2/3;

}


.newProject > label {
    display: block;
    grid-column: 1/2;

    
}



.newProject > input {
    border-radius: 15px;
    height: 25px;
    grid-column: 1/2;

}